table.compact td, table.compact>tbody>tr>td, table.compact>tbody>tr>th, table.compact>tfoot>tr>td, table.compact>tfoot>tr>th, table.compact>thead>tr>td, table.compact>thead>tr>th{
	padding:.125em 0.1em!important;
	font-size:12px;
}


table.compact td{position:relative;}
.shift_box{position:relative; width:25px; height:25px; line-height:25px; font-size:12px; text-align:center; border:1px solid #ccc; overflow:hidden; cursor:pointer;}

.shift_button_holder{padding:1em; background:#fff;}
.shift_button_holder ul>li{margin-right:.5em; cursor:pointer;}
.shift_button_holder ul>li>a{
    background: #CCE2F5;
    font-size: 12px;
    padding: .5em 1em;
    margin: .25em;
}

.applied{display:none;}

.input-group{margin:0; width:100%;}

.absence{text-align:center;}
.absence input{width:45%;}


.absence input{border:1px solid #fc0; outline:none; box-shadow:none;}
.absence input.fill{border:1px solid #A5E24B;}
.absence input.err{border:1px solid #d00;}

table.data th.act{background:#333; }
table.data th.act a{color:#fff;}

.sign-in-form-top{background:#555;}

table.padd td{padding:0 .5em;}
.space{margin:.5em 0;}


.grow{left:0; width:100%;}
.sparkline{background:#fff; margin-bottom:2em;}

canvas{width:100%!important; height:300px!important;}


fieldset{margin-bottom:2em;}
legend{margin-bottom:.5em;}
.d-block{display:block; padding:.25em; cursor:pointer;}
.d-block:hover{background:rgba(0,0,0,.15);}

.panel{border-radius:8px; -moz-border-radius:8px; overflow:hidden; border:8px solid #337ab7!important;}
.panel .panel-heading{padding:0;}
.panel .panel-heading h3, .panel .panel-heading h4{padding:.5em; height:auto; margin-bottom:0;}



body.print{width:21cm; margin:0px auto;}
body.print h2{margin:0; padding-bottom:.5em; font-size:16px; font-weight:bold;}
body.print .label{font-size:8px;}

body.print .slip-pack{position:relative; display:flex; display:-moz-flex; display:-webkit-flex; display:flexbox; flex-wrap:wrap; justify-content:flex-start;}
body.print .slip{padding:.25cm; border:1px solid #000; width:48%;}
table.detail-gaji{font-size:10px; width:100%;}

table.detail-gaji tr:nth-child(even){background:#eee;}
@media print{
	table.detail-gaji tr:nth-child(even){background:#eee;}
	body.print .slip-pack{page-break-after: always; page-break-inside: avoid;position:relative;}
	.label{display:none;}
}




.sticky-header .logo{background:#ffff00;}


.sign-in-up{background:url(../images/cwa-background-lo.jpg) no-repeat center!important; background-size:cover!important; -moz-background-size:cover!important; }

.sign-in-wrapper{background:transparent;}
.sign-in-form-top{background:#ff0; min-height:0; padding:0;}
.sign-in-form-top p, .sign-in-form-top span, .sign-in-form-top a{color:#000!important;}

div#page-wrapper{padding-bottom:3em;}